
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">News Scaper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saved Articles</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" float="right">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="scrape" scr="http://localhost:9999/scrape">Scrape Articles</button>
            <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit"id="deleteArticle">Clear Articles</button>
          </form>
        </div>
      </nav>

      <div class="containter">
          <div class="jumbotron" style="text-align: center">
              <h2>
                New's Scraper
              </h2>
              <h1>
                  Find top articles from Wall Street Journal!
              </h1>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
            {{#if articles}}
            {{#each articles}}
                <div class="card w-90">
                    <div class="card-header text-white bg-primary">
                        <a href={{link}} target="_blank" class="text-white">
                            <h2>{{title}}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{summary}}
                        </p>
                        <button id="{{_id}}" class="btn btn-primary save-btn">Save Article</button>
                    </div>
                </div>
            {{/each}}
            {{else}}
                <div class="card text-white bg-warning w-90 p-1">
                    <div class="card-body text-center">
                        Uh oh. Looks like we don't have any new articles at the moment. 
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
